@import "tailwindcss";

html,
body,
#root {
  min-height: 100%;
}

body {
  overflow-y: auto;
}

body {
  @apply bg-neutral-950 text-gray-200 antialiased;
}

.perspective {
  perspective: 1000px;
}

.flip-card {
  position: relative;
  min-height: 64px;

  transform-style: preserve-3d;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.perspective:hover .flip-card {
  transform: rotateX(180deg);
}

.flip-face {
  position: absolute;
  inset: 0;

  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.flip-back {
  transform: rotateX(180deg);
}

.flip-card,
.flip-face {
  user-select: none;
}

a {
  -webkit-tap-highlight-color: transparent;
}
